<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4 class="panel-title">
                    THỐNG TIN LOẠI SẢN PHẨM
                </h4>
            </div>
            <div class="panel-body">
                <form role="form" id="detail-form" class="form-horizontal col-sm-offset-2 col-sm-8" novalidate name="frm" ng-submit="create()">
                    <div class="form-group">
                        <label class="col-sm-3 label-control">
                            Tên:
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="Name" ng-model="entity.Name" ng-required="true" maxlength="128" />
                            <span ng-show="frm.Name.$error.required" class="error">Tên không được bỏ trống</span>
                            <span ng-show="frm.Name.$error.maxlength" class="error">Tên không vượt quá 128  kí tự</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-3 label-control">
                            Trạng thái: 
                        </label>
                        <div class="col-sm-9">
                            <input type="checkbox" ng-model="entity.Status" />
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="col-sm-offset-5 col-xs-offset-5">
                            <button ui-sref="typeproduct" type="button" class="btn btn-default">
                                Hủy
                            </button>
                            <button type="submit" class="btn btn-success" ng-disabled="frm.$invalid">
                                Lưu
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
