<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4>THÔNG TIN PHÒNG/BÀN</h4>
            </div>
            <div class="panel-body">
                <form role="form" id="detail-form" class="form-horizontal col-sm-offset-2 col-sm-8" novalidate name="frm" ng-submit="update()">
                    <div class="form-group">
                        <label class="col-sm-4">
                            Tầng/Lầu:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" name="Floor" ng-model="entity.FloorId" ng-options="item.Id as item.Name for item in floors" required>
                                <option value="">-- Chọn tầng/lầu --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            Tên phòng/bàn
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Name" ng-model="entity.Name" required ng-maxlength="128" />
                            <span ng-show="frm.Name.$error.required" class="error">Tên không được bỏ trống</span>
                            <span ng-show="frm.Name.$error.maxlength" class="error">Tên không vượt quá 128  kí tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            Mô tả:
                        </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="Descreption" ng-model="entity.Descreption" ng-maxlength="256"></textarea>
                            <span ng-show="frm.Descreption.$error.maxlength" class="error">Mô tả không vượt quá 256  kí tự</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            Trạng thái:
                        </label>
                        <div class="col-sm-8">
                            <input type="checkbox" ng-model="entity.Status" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">
                            Hoạt động:
                        </label>
                        <div class="col-sm-8">
                            <input type="checkbox" ng-model="entity.IsWorking" />
                        </div>
                    </div>
                    
                    <div class="panel-footer">
                        <div class="col-sm-offset-5 col-xs-offset-5">
                            <button ui-sref="room" type="button" class="btn btn-default">
                                Hủy
                            </button>
                            <button type="submit" class="btn btn-success" ng-disabled="frm.$invalid">
                                Lưu
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

