<div class="row">
    <div class="col-sm-7">
        <div class="box">
            <div class="box-header">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label>DANH SÁCH BÀN ĂN</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-sm-offset-4 col-sm-4">
                            <select class="form-control input-sm" ng-options="item.Id as item.Name for item in floors" ng-model="floorId" ng-change="loadTables()"></select>
                        </div>
                        <div class="col-sm-offset-1 col-sm-2">
                            <button type="button" class="btn btn-sm btn-default pull-right" ng-click="loadTables()"><i class="fa fa-refresh"></i> Tải lại</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="box-body">
                <div class="col-sm-12">
                    <div class="col-sm-3 WorkTables" ng-repeat="table in worktables">
                        <a href="javascript:void(0);" title="{{table.Descreption}}" ng-click="choosseTable(table.Id, table.Name)"><img src="/Content/admin/img/table.jpg" alt="img" /></a>
                        <div class="tableFooter">
                            <label>{{table.Name}}</label>
                            <p style="color: red;">{{table.IsWorking | isWorkingTableFilter}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="box" ng-show="order.Id != 0">
            <div class="box-header">
                <label>{{order.TableName}}</label>
                <div class="ClearFix"></div>
                <label>Hóa đơn: {{order.Code}}</label>
                <label class="pull-right" ng-show="order.EmployeeName != ''">Nhân viên: {{order.EmployeeName}}</label>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">KH:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="order.CustomerName" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">ĐT:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="order.CustomerPhone" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ClearFix"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">Email:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control input-sm" ng-model="order.CustomerEmail" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-3">ĐC:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" ng-model="order.CustomerAddress" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ClearFix"></div>
                <div class="row">
                    <div class="col-sm-offset-9">
                        <a href="javascript:void(0);" class="btn btn-sm btn-info element-right" ng-click="addProductOrder(order.Id)"><i class="fa fa-plus"></i>Thêm món</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 30px; text-align: center;">Xóa</th>
                                <th style="width: 30px; text-align: center;">STT</th>
                                <th>Tên</th>
                                <th style="width: 90px; text-align: center;">Đơn giá</th>
                                <th style="width: 90px; text-align: center;">Số lượng</th>
                                <th style="width: 90px; text-align: center;">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in orderdetails">
                                <td align="center">
                                    <a href="javascript:void(0);" ng-click="deleteDetailOfOrder(detail.Id)"><i class="fa fa-trash"></i></a>
                                </td>
                                <td align="center">{{$index + 1}}</td>
                                <td>{{detail.ProductName}}</td>
                                <td align="right">
                                    {{detail.Price | number:0}}
                                </td>
                                <td align="right">
                                    <input type="number" class="form-control input-sm" ng-model="detail.Quantity" ng-blur="changeQuantityOrderDetail(detail.Id)" style="text-align: right;" />
                                </td>
                                <td align="right">{{detail.Amount | number:0}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ClearFix"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-3 col-sm-9 pull-right">
                            <div class="form-group">
                                <label class="col-sm-5">Tổng tiền: </label>
                                <label class="col-sm-5" style="text-align: right;">{{order.TotalAmount | number:0}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ClearFix"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-3 col-sm-9 pull-right">
                            <div class="form-group">
                                <label class="col-sm-5">Giảm giá: </label>
                                <div class="col-sm-5">
                                    <input class="form-control input-sm" type="number" ng-model="order.Sale" ng-blur="ReCal()" min="0" max="{{order.TotalAmount}}" style="text-align: right" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ClearFix"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-3 col-sm-9 pull-right">
                            <div class="form-group">
                                <label class="col-sm-5">Thành tiền: </label>
                                <label class="col-sm-5" style="text-align: right;">{{order.Total | number:0}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ClearFix"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-3 col-sm-9 pull-right">
                            <div class="form-group">
                                <label class="col-sm-5">Đã trả: </label>
                                <div class="col-sm-5">
                                    <input class="form-control input-sm" type="number" ng-readonly="order.Status==true" ng-model="order.Payed" min="0" max="{{order.TotalAmount - order.Sale}}" style="text-align: right" />
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label title="Trả đủ">
                                            <input type="checkbox" ng-model="order.Status" ng-click="PayFull()" />
                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ClearFix"></div>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-9 pull-right">
                        <div class="form-group">
                            <label class="col-sm-5">Ghi chú:</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" ng-model="order.Descreption"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <button class="btn btn-sm btn-danger" ng-click="CancleOrder(order.Id)"><i class="fa fa-remove"></i> Hủy order</button>
                        </div>
                        <div class="col-sm-offset-1 col-sm-2">
                            <button class="btn btn-sm btn-primary" ng-click="loadTableWorking()"><i class="fa fa-plus"></i> Gộp bàn</button>
                        </div>
                        <div class="col-sm-offset-1 col-sm-2">
                            <button class="btn btn-sm btn-primary" ng-click="loadTableNotWorking()"><i class="fa fa-exchange"></i> Chuyển bàn</button>
                        </div>
                        <div class="col-sm-offset-1 col-sm-2">
                            <button class="btn btn-sm btn-success" ng-click="Payment()"><i class="fa fa-money"></i> Thanh toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default" id="modalMenuProduct">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form-horizontal">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <label>THỰC ĐƠN</label>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <select class="form-control input-sm" ng-model="groupId" ng-options="item.Id as item.Name for item in groups" ng-change="getbyfilter()">
                                                    <option value="">--Nhóm SP--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-1 col-sm-3">
                                            <div class="form-group">
                                                <select class="form-control input-sm" ng-model="typeId" ng-options="item.Id as item.Name for item in types" ng-change="getbyfilter()">
                                                    <option value="">--Loại SP--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-1 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control input-sm" ng-model="code_name" placeholder="Từ khóa..." ng-keyup="pressEnter($event)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-offset-4 col-xs-offset-4 col-sm-4 col-xs-4">
                                            <button type="button" class="btn btn-sm btn-primary" ng-click="getbyfilter()">
                                                <i class="fa fa-search"></i> Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6 col-xs-6" ng-repeat="item in menuproducts">
                                                <div class="products">
                                                    <div class="imgProductMenu">
                                                        <a href="javascript:void(0);" ng-click="choosseProduct(item.Id)">
                                                            <img ng-src="{{item.Image}}" alt="ảnh sản phẩm" style="width: 50px; height: 50px;" />
                                                        </a>
                                                    </div>
                                                    <div class="ProductInfo">
                                                        <p>{{item.Name}}</p>
                                                        <p><b>{{item.Price | number:0}}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getbyfilter(page)"></pager-directive>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                <div class="box-header">
                                    CÁC MÓN ĐÃ CHỌN - <b>{{choossingTable.Name}}</b>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 30px; text-align: center;">Xóa</th>
                                                <th>Tên</th>
                                                <th style="width: 90px; text-align: center;">Đơn giá</th>
                                                <th style="width: 90px; text-align: center;">Số lượng</th>
                                                <th style="width: 90px; text-align: center;">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in choossedProducts">
                                                <td align="center">
                                                    <a href="javascript:void(0);" ng-click="deleteProductChoossed(item.Id)"><i class="fa fa-trash"></i></a>
                                                </td>
                                                <td>{{item.ProductName}}</td>
                                                <td align="right">{{item.Price | number:0}}</td>
                                                <td>
                                                    <input type="number" class="form-control" ng-model="item.Quantity" min="1" max="1000" />
                                                </td>
                                                <td align="right">{{item.Amount | number:0}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="pull-right btn btn-danger" ng-click="Order(choossingTable.Id)"><i class="fa fa-save"></i> Gọi món</a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default" id="modalTableNotWorking">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <label>CHỌN BÀN CẦN CHUYỂN TỚI</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form-horizontal">
                <div class="box">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="col-sm-3 WorkTables" ng-repeat="table in tablesnotworking">
                                <a href="javascript:void(0);" title="{{table.Descreption}}" ng-click="changeTable(table.Id, table.Name)"><img src="/Content/admin/img/table.jpg" alt="img" /></a>
                                <div class="tableFooter">
                                    <label>{{table.Name}}</label>
                                    <p style="color: red;">{{table.IsWorking | isWorkingTableFilter}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default" id="modalTableWorking">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <label>CHỌN BÀN CẦN GỘP</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form-horizontal">
                <div class="box">
                    <div class="box-body">
                        <div class="col-sm-12">
                            <div class="col-sm-3 WorkTables" ng-repeat="table in tablesworking">
                                <a href="javascript:void(0);" title="{{table.Descreption}}" ng-click="combineTable(table.Id, table.Name)"><img src="/Content/admin/img/table.jpg" alt="img" /></a>
                                <div class="tableFooter">
                                    <label>{{table.Name}}</label>
                                    <p style="color: red;">{{table.IsWorking | isWorkingTableFilter}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default" id="modalAddProductOrder">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body form-horizontal">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <label>THỰC ĐƠN</label>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <select class="form-control input-sm" ng-model="groupId" ng-options="item.Id as item.Name for item in groups" ng-change="getbyfilter()">
                                        <option value="">--Nhóm SP--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-3">
                                <div class="form-group">
                                    <select class="form-control input-sm" ng-model="typeId" ng-options="item.Id as item.Name for item in types" ng-change="getbyfilter()">
                                        <option value="">--Loại SP--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" ng-model="code_name" placeholder="Từ khóa..." ng-keyup="pressEnter($event)" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-5 col-xs-offset-4 col-sm-4 col-xs-4">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="getbyfilter()">
                                    <i class="fa fa-search"></i> Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-6 col-xs-6" ng-repeat="item in menuproducts">
                                    <div class="products">
                                        <div class="imgProductMenu">
                                            <a href="javascript:void(0);" ng-click="addProductToDetails(item.Id)">
                                                <img ng-src="{{item.Image}}" alt="ảnh sản phẩm" style="max-width: 60px; max-height: 80px;" />
                                            </a>
                                        </div>
                                        <div class="ProductInfo">
                                            <p>{{item.Name}}</p>
                                            <p><b>{{item.Price | number:0}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getbyfilter(page)"></pager-directive>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>