<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4>DANH SACH MENU TRÊN TỐP</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <select class="form-control" ng-change="getbyfilter()" ng-model="parentId" ng-options="item.Id as item.Name for item in parents">
                                    <option value="">-- Chọn danh mục cha --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" type="button" ng-click="getbyfilter()"><i class="fa fa-search"></i> Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="box-body">
            <div class="col-sm-1 pull-right">
                <a ui-sref="createtopmenu" class="btn btn-info element-right"><i class="fa fa-plus"></i>Tạo mới</a>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 30px">
                            STT
                        </th>
                        <th>
                            Tên
                        </th>
                        <th style="width: 100px; text-align: center">
                            Thứ tự
                        </th>
                        <th style="width: 50px; text-align: center">
                            Icon
                        </th>
                        <th style="width: 150px; text-align: center">
                            Danh mục cha
                        </th>
                        <th style="text-align: center; width: 100px">
                            Trạng thái
                        </th>
                        <th style="text-align: center; width: 30px">
                            Sửa
                        </th>
                        <th style="text-align: center; width: 30px">
                            Xóa
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in menus">
                        <td align="center">
                            {{(pageSize * page) + $index + 1}}
                        </td>
                        <td>
                            {{item.Name}}
                        </td>
                        <td align="center">
                            {{item.OrderNumber}}
                        </td>
                        <td align="center">
                            <i class="{{item.ICon}}"></i>
                        </td>
                        <td align="center">
                            <i ng-class="{'fa fa-check':item.ParentId==null, 'fa fa-close':item.ParentId!=null}"></i>
                        </td>
                        <td align="center">
                            <i ng-class="{'fa fa-check':item.Status==true, 'fa fa-close':item.Status==false}"></i>
                        </td>
                        <td align="center">
                            <a title="Sửa đổi" ui-sref="edittopmenu({id:item.Id})">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                        </td>
                        <td align="center">
                            <a title="Xóa" href="javascript:void(0);" ng-click="delete(item.Id)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getbyfilter(page)"></pager-directive>
        </div>
    </div>
</div>
