<div class="row" style="background: darkslategray;  min-height:795px;">
    <div class="login-box">
        <div class="login-box-body" style="border: 1px solid black; background-color: #ddd;">
            <p class="login-box-msg"><label>QUÊN MẬT KHẨU</label></p>
            <form role="form" method="post" ng-submit="send()">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Tài khoản" ng-model="userName" minlength="5" required>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" ng-model="email" placeholder="Email" minlength="6" required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-sm-5 col-xs-5">
                                <img src="{{dataCaptchaBase64}}" width="80" height="32" alt="captcha image" />
                            </div>
                            <div class="col-sm-7 col-xs-7">
                                <input type="text" ng-model="captcha" class="form-control" minlength="4" maxlength="4" required />
                            </div>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Gửi</button>
                    </div><!-- /.col -->
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8" style="text-align: center;">
                        <a ui-sref="login">Trang đăng nhập</a>
                    </div>
                </div>
            </form>
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
</div>
